/* * {
    outline: 1px solid black;
    padding: 1px;
} */

:root {
    --dark: #061130;
    --blue: #1c4bc4;
    --white: #f4f6f8;
    --yellow: #FAFD61;
}

.logo {
    margin: 15px 30px;
    align-items: left;
}

header {
    margin-bottom: 6em;
}

.LetsChat {
    border-radius: 30px;
    height: 45px;
    width: 125px;
    margin: 10px;
    margin-right: 30px;
}

body {
    margin: 0;
    height: max-content;
    background-color: var(--dark);
    color: var(--white);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.main-card {
    font-size: large;
}

footer {
    background-color: var(--white);
    color: var(--dark);
    align-items: center;
    margin-top: 105px;
    margin-bottom: 0;
    height: 220px;
}

title {
    color: var(--yellow);
}

.d-flex {
    display: flex;
}

.linksAndButtons {
    width: 50%;
    justify-content: end;
}

button {
    color: var(--white);
    background-color: var(--blue);
}

.LetsChat {
    text-shadow: rgba(0, 0, 0, .4);
    box-shadow: rgba(0, 0, 0, .4);
}


.jc-fe {
    justify-content: space-between;
}

.jc-right {
    justify-content: right;
}

.jc-left {
    justify-content: left;
}

.jc-end {
    justify-content: end;
}

.world-logo {
    width: 100%;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

h4 {
    color: var(--yellow);
}

#world-logo {
    justify-content: right;
    width: auto;
    height: auto;
    padding-right: 150px;
}

#bottomText {
    text-align: center;
    margin-bottom: 0;
}

.border-top {
    border-top: 20px;
}

.noLink {
    text-decoration: none;
    color: var(--dark);
}

.noLink:hover {
    color: var(--dark);
}

.headerMargin {
    margin: 20px;
}

.paddedDiv {
    padding: 10px;
    padding-right: 150px;
    padding-left: 150px;
}

@media (max-width: 600px) {

    .d-flex {
        flex-direction: column;
    }

    body {
        background-color: var(--white);
        color: var(--dark);
    }
}

.paddedTop {
    padding-top: 20px;
}